:root{
  --site_logo_expanded_width: var(--site_logo_collapsed_width);

  --accent_color: #01F9FF;
}

html{
  /* background-image: url("assets/images/starscape.webp"); */
}

body{
  background: unset;
  overflow-x: hidden;
  overflow-y: auto;
}
main{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: unset;
  backdrop-filter: blur(130px);
}
section{
  align-items: center;
  width: 100%;
}
section_inner{
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.logo{
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  margin: -120px 0px 0px 0px;
  opacity: 0.2;
}
h1{
  align-self: flex-start;
  color: var(--ls_text_color);
  font-size: 60px;
  opacity: 0.3;
}
h2{
  align-self: flex-start;
  font-size: 28px;
}


landing_image{
  display: none;
}
landing_title{
  font-family: 'Space Mono', monospace;
  font-size: 500px;
  font-weight: 400;

  background-image: url("assets/images/blue_neon-initial.webp");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: drop-shadow(2px 4px 6px black);
}
landing_subtitle{
  display: none;
}

card{
  border-color: black;
}


navtable{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


nav .show_sublinks{
  animation: a_hide_up var(--ls_anim_duration_medium) ease forwards;
}

@keyframes a_hide_up{
  0%   {transform: translateY(0%);}
  100% {transform: translateY(-100%);}
}
@keyframes a_reveal_up{
  0%   {transform: translateY(100%);}
  100% {transform: translateY(0%);}
}